<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} %highlight{%-5level} %class{36} [%t] %-5M - %blue{%msg%xEx%n}"
                    disableAnsi="false"
            />
        </Console>
        <File name="log" fileName="target/test_log4j2.log" append="false">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} %highlight{%-5level} %class{36} [%t] %-5M - %blue{%msg%xEx%n}"
                    disableAnsi="false"
            />
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="log"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>